{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="game" data-module="Game">
  </div>
  <div class="controls" data-module="Controls">
  </div>
{% endblock %}

